[submodule "assignments/CPT-163-27-F2015-Assignment-3-loops"]
	path = assignments/CPT-163-27-F2015-Assignment-3-loops
	url = git@github.com:WCCCEDU/CPT-163-27-F2015-Assignment-3-loops.git
[submodule "assignments/CPT-163-27-F2015-Assignment-2-conditions"]
	path = assignments/CPT-163-27-F2015-Assignment-2-conditions
	url = git@github.com:WCCCEDU/CPT-163-27-F2015-Assignment-2-conditions.git
[submodule "assignments/CPT-163-27-F2015-Assignment-4-methods"]
	path = assignments/CPT-163-27-F2015-Assignment-4-methods
	url = git@github.com:WCCCEDU/CPT-163-27-F2015-Assignment-4-methods.git
[submodule "assignments/CPT-163-27-F2015-Assignment-5-objects"]
	path = assignments/CPT-163-27-F2015-Assignment-5-objects
	url = git@github.com:WCCCEDU/CPT-163-27-F2015-Assignment-5-objects.git
[submodule "assignments/CPT-163-27-F2015-Assignment-6-DRY-Refactoring"]
	path = assignments/CPT-163-27-F2015-Assignment-6-DRY-Refactoring
	url = https://github.com/WCCCEDU/CPT-163-27-F2015-Assignment-6-DRY-Refactoring
[submodule "assignments/CPT-163-27-F2015-Assignment-7-Array-DiceTower"]
	path = assignments/CPT-163-27-F2015-Assignment-7-Array-DiceTower
	url = https://github.com/WCCCEDU/CPT-163-27-F2015-Assignment-7-Array-DiceTower
[submodule "assignments/CPT-163-27-F2015-Assignment-8-Interfaces-DiceTower"]
	path = assignments/CPT-163-27-F2015-Assignment-8-Interfaces-DiceTower
	url = git@github.com:WCCCEDU/CPT-163-27-F2015-Assignment-8-Interfaces-DiceTower.git
[submodule "assignments/CPT-163-27-F2015-Assignment-9-Files-Strings"]
	path = assignments/CPT-163-27-F2015-Assignment-9-Files-Strings
	url = git@github.com:WCCCEDU/CPT-163-27-F2015-Assignment-9-Files-Strings.git
[submodule "tests/test_two/CPT-163-Test-Two-Todo"]
	path = tests/test_two/CPT-163-Test-Two-Todo
	url = git@github.com:WCCCEDU/CPT-163-Test-Two-Todo.git
[submodule "tests/test_two/CPT-163-Test-Two-Player"]
	path = tests/test_two/CPT-163-Test-Two-Player
	url = git@github.com:WCCCEDU/CPT-163-Test-Two-Player.git
[submodule "notes/CPT-163-27-F2015-CSV-Writer"]
	path = notes/CPT-163-27-F2015-CSV-Writer
	url = git@github.com:WCCCEDU/CPT-163-27-F2015-CSV-Writer.git
[submodule "notes/CPT-163-JAVA-reading-files"]
	path = notes/CPT-163-JAVA-reading-files
	url = git@github.com:WCCCEDU/CPT-163-JAVA-reading-files.git
[submodule "notes/CPT-163-SOLID"]
	path = notes/CPT-163-SOLID
	url = git@github.com:WCCCEDU/CPT-163-SOLID.git
[submodule "notes/CPT-163-DRY-RetailItem-Example"]
	path = notes/CPT-163-DRY-RetailItem-Example
	url = git@github.com:WCCCEDU/CPT-163-DRY-RetailItem-Example.git
[submodule "notes/CPT-163-ObjectsDemo1"]
	path = notes/CPT-163-ObjectsDemo1
	url = git@github.com:WCCCEDU/CPT-163-ObjectsDemo1.git
